# Notebook outputs
scripts/Runs/

# LaTeX auxiliary files
*.aux
*.log
*.fls
*.gz
*.fdb_latexmk
*.toc
*.tex

# VS Code configuration
.vscode

# Python cache directories
*/__pycache__

# Hidden files and directories
.*

# Python virtual environments
venv/

# Build and distribution directories
build/
dist/

# Egg info
*.egg-info/
examples.zip
*.zip
